:root {
    --primario: #7ABE47;
    --secundario: #ffc845;
    --negro: #000000;
    --claro: #ffffff;
    --grisOscuro: #acc0e0;
    --grisClaro: #e7f1ff;
    --grisFooter: #dee4e9;
    --oscuro: #57a42b;
    --azulTwitter: #1da1f2;
    --azulOscuroTwitter: #005e99;
    --padding0: 0.5rem;
    --padding1: 1rem;
    --padding2: 2rem;
    --border: 1px solid var(--grisClaro);
    --borderPrimario: 1px solid var(--grisFooter);
    --fontBolder: 700;
    --fontMegaBold: 900;
    --textoFooter: #b1b1b1;
}


html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    font-weight: 300;
    margin: 0;
    padding: 0
}

/* contenedor general */

/* disposición mobile */
.contenedor {
    display: grid;
    margin: 0 auto;
    width: 100vw;
    background-color: white;
    grid-template-areas:
        "derecha"
        "izquierda"
        "footer";
}

/* disposición tablet 800-1024 */
@media screen and (min-width: 721px) {
    .contenedor {

        min-height: 100vh;
        grid-template-areas:
            "izquierda derecha"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

/* bloque derecho - superior */
.derecha {
    /* min-height: 300px; */
    display: grid;
    background-color: var(--claro);
    grid-area: derecha;
    align-items: center;
    justify-content: center;
    /* primero filas luego columnas */

}

@media screen and (min-width: 721px) {
    .derecha {
        height: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .derecha .bloque-cabecera-login {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .derecha>.bloque-cabecera-login {
        width: 50%;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        visibility: visible;
    }

    .derecha>.bloque-cabecera-login form {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    form > div,form > button {
        margin: 0px 4px !important;
        height:100%;
    }

    form > div > .form-control{
            height: calc(1.5em + .5rem + 10px);
            width: calc(1.5em + .5rem + 140px);
            border: var(--borderPrimario);
    }

    form > div > a{
        font-size: 14px;
        color: var(--textoFooter);
}

}

@media screen and (min-width: 1530px){
    .derecha>.bloque-cabecera-login {
        justify-content: flex-end;
    }
    .derecha>.bloque-cabecera-login form {
        margin-right: 52px;
    }
}

.derecha .contenido {
    height: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 721px) {
    .derecha .contenido {
        justify-content: center;
    }
}


.derecha .contenido .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.contenido>.cabecera>i {
    color: var(--azulTwitter);
    font-size: 42px;
}


.boton {
    font-weight: var(--fontBolder);
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    background-color: var(--claro);
    border: 1px solid var(--azulTwitter);
    color: var(--azulTwitter);
}

.boton:hover {
    background-color: var(--grisClaro);
}

.contenido .cabecera .boton-iniciar-sesion {
    height: 43px;
    font-size: 10px;
    font-weight: var(--fontMegaBold);
}

@media screen and (min-width: 1024px) {
    .contenido .cabecera .boton-iniciar-sesion {
        visibility: hidden;
    }
}

.derecha .contenido h3 {
    font-weight: var(--fontBolder);
}

.derecha .contenido .subtitulo {
    font-weight: var(--fontBolder);
    margin-top: 42px;
    margin-bottom: 16px;
}

.contenido .bloque-login-registro {
    display: flex;
    flex-direction: column;
}

.contenido .bloque-login-registro>* {
    margin-bottom: 16px;
}

.bloque-login-registro .boton-registro {
    background-color: var(--azulTwitter);
    border: 1px solid var(--azulTwitter);
    color: var(--claro);
}

.contenido .bloque-login-registro .registro:hover {
    background-color: var(--azulOscuroTwitter);
}



/* bloque izquierdo - inferior */
.izquierda {
    display: grid;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: izquierda;
    /* Textos en blanco */
    color: var(--claro);
    grid-template-rows: 1fr;
}

.contenedor>.izquierda>.contenido {
    max-width: 439px;
    min-height: 264px;
    display: grid;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* vista tablet */
@media screen and (min-width:721px) {
    .contenedor .izquierda .contenido {
        padding: 250px 16px;
        justify-content: center;
    }

    .contenedor .izquierda .contenido>* {
        margin: 20px 0;
    }
}

.linea {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linea>i {
    font-size: 23px;
}

.linea>.texto-linea {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}


.footer {
    color: var(--textoFooter);
    border-top: var(--borderPrimario);
    grid-area: footer;
    /* Textos en blanco */
    width: 100%;
    min-height: 82px;
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 11px 0;
}

/* formato muy pequeño */
@media screen and (max-width:268px) {
    .footer {
        bottom: unset;
        right: unset;
        position: unset;
        border: none;
    }
}

@media screen and (min-width:721px) {
    .footer {
        bottom: unset;
        right: unset;
        position: relative;
        border: none;
        min-height: 61px;
    }
}

.footer>ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul>li {
    font-size: 11px;
    margin: 3px 10px;
}